{
 :es-address       "http://127.0.0.1:9200"
 :es-index         "love"
 :port             8888
 :pidfile-name     "birdwatch.pid"
 :redis-host       "127.0.0.1"
 :redis-port       6379
 :inspect-port     8001}
