@(implicit request: RequestHeader)

@main("Server Status") {
  <script type="text/javascript">
    $(function() {
      var ws = new WebSocket("@routes.WebSockets.statusFeed().webSocketURL()");
      
      ws.onmessage = function(msg){
        $('#load-average').text(msg.data + "%");
        data.pop();
        data.push(msg.data);
        redraw();
      };
      var data = [0.0];
      
      var chart = d3.select("body").append("svg")
        .attr("class", "chart")
        .attr("width", 500)
        .attr("height", 40)
        .append("g")
        .attr("transform", "translate(40,15)");

      var x = d3.scale.linear()
        .domain([0, 100])
        .range([0, 420]);
          
      var y = d3.scale.ordinal()
         .domain(data)
         .rangeBands([0, 120]);
         
      chart.selectAll("line")
         .data(x.ticks(10))
         .enter().append("line")
         .attr("x1", x)
         .attr("x2", x)
         .attr("y1", 0)
         .attr("y2", 120)
         .style("stroke", "#ccc");
      
      chart.selectAll("rect")
         .data(data)
         .enter().append("rect")
         .attr("y", y)
         .attr("width", x)
         .attr("height", y.rangeBand());
      
      chart.selectAll("text")
         .data(data)
         .enter().append("text")
         .attr("x", x)
         .attr("y", function(d) { return y(d) + y.rangeBand() / 2; })
         .attr("dx", -10) // padding-right
         .attr("dy", ".35em") // vertical-align: middle
         .attr("text-anchor", "end") // text-align: right
         .text(String);
         
      chart.selectAll(".rule")
         .data(x.ticks(10))
         .enter().append("text")
         .attr("class", "rule")
         .attr("x", x)
         .attr("y", 0)
         .attr("dy", -3)
         .attr("text-anchor", "middle")
         .text(String);
         
      function redraw() {
        chart.selectAll("rect")
          .data(data)
          .transition()
          .duration(800) 
          .attr("width", x) 
       }
    })
    </script>
    <h1>System load average: <span id="load-average" /></h1>
  }