;; Template for Birdwatch configuration file

;; You probably want to change the :track settings as the term "love" results
;; in millions of matches per day. It works though on a fast machine.
;; The limiting factor then really becomes ElasticSearch.

{:consumer-key             "<YOUR API KEY HERE>"
 :consumer-secret          "<YOUR API SECRET HERE>"
 :user-access-token        "<YOUR ACCESS TOKEN HERE>"
 :user-access-token-secret "<YOUR ACCESS TOKEN SECRET HERE>"
 :es-address               "http://127.0.0.1:9200"
 :es-index                 "charliehebdo"
 :track                    "CharlieHebdo,jesuischarlie"
 :tw-check-interval-sec    10
 :tw-restart-wait          60
 :pidfile-name             "twitterclient.pid"
 :redis-host               "127.0.0.1"
 :redis-port               6379
 :inspect-port             8002}
