@charset "UTF-8";
#wordcloud {
	background-color: #FFF;
	padding: 20px;
	height: 500px;
	width: 700px;
	position: fixed;
	left: 50px;
	top: 130px;
}
#header {
	position: fixed;
	left: 230px;
	top: 50px;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-stretch: ultra-expanded;
	font-size: 36px;
	color: steelblue;
}
#tweets {
	//background-color: #CCC;
	position: fixed;
	height: 700px;
	width: 600px;
	left: 800px;
	top: 50px;
	overflow: auto;
}
.screen_name {
	font-weight:bold
}
.timeInterval {
	font-weight:bold;
	font-size:10px;
	color:#99D;
	text-align:right;
}
li {
	list-style:none;
}