#wordcloud {
	background-color: #FFF;
	padding: 20px;
	height: 500px;
	width: 700px;
	position: absolute;
	left: 30px;
	top: 85px;
}
#header {
	position: absolute;
	left: 290px;
	top: 0px;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-stretch: ultra-expanded;
	font-size: 36px;
	color: steelblue;
}
#tweets {
	position: absolute;
	height: 1060px;
	width: 700px;
	left: 750px;
	top: 20px;

}
.screen_name {
	position:absolute;
	font-weight:bold;
  	top:2px;
  	left:100px;
}
.timeInterval {
	position:absolute;
	font-weight:bold;
	font-size:10px;
	color:#99D;
	text-align:right;
	top:2px;
  	left:350px;
}

li {
	list-style:none;
}

#wordBars {
	position: absolute;
	height: 500px;
	width: 700px;
	left: 20px;
	top: 605px;
}
.tweetlist {
	position:relative;
	height: 105px;
}
.tweettext {
	position:absolute;
  	top:22px;
  	left:100px;
	height:auto;
    width: 500px;
}
#bulletChart {
  position:absolute;
  top: 1005px;
  left:51px;
  width:650px;
  heigth:200px;
}