body, p, label { 
    font-size:15px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: steelblue;
}
h1 {
    font-size: 20px;
}
.label { font-size:13px; line-height:16px; }
.alert-info { border-color:transparent; background-color:#3A87AD;
    color:white; font-weight:bold; }
div.screenshot { width: 1000px; margin:20px; background-color:#D0E7EF; }
.navbar-fixed-top .navbar-inner { padding-left:20px; }
.navbar .nav > li > a { color:#bbb; }
.screenshot > .container { width: 960px; padding: 20px; }
.navbar-fixed-top, .navbar-fixed-bottom { position:relative; }
table { border-collapse: collapse; width:100%; }
th, td { text-align:left; padding: 0.3em 0;
    border-bottom: 1px solid white; }
tr.odd td { }
form { float:left; margin-right: 1em; }
legend { border: none; }
fieldset > div { margin: 12px 0; }
.help-block { display: inline; vertical-align: middle; }
.error .help-block { display: none; }
.error .help-inline { padding-left: 9px; color: #B94A48; }
footer { clear: both; text-align: right; }

.chart rect {
    stroke: white;
    fill: steelblue;
}
.chart text {
    font: 10px sans-serif;
}
#wordCloud {
    background-color: #FFF;
    padding: 20px;
    height: 500px;
    width: 700px;
    position: absolute;
    left: 30px;
    top: 85px;
}
#header h1{
    position: absolute;
    left: 290px;
    top: 10px;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    font-stretch: ultra-expanded;
    font-size: 36px;
    color: steelblue;
}

#tweets {
    position: absolute;
    height: 1060px;
    width: 700px;
    left: 750px;
    top: 5px;

}
.screen_name {
    position:absolute;
    font-weight:bold;
    top:2px;
    left:100px;
}
.timeInterval {
    position:absolute;
    font-weight:bold;
    font-size:10px;
    color:#99D;
    text-align:right;
    top:2px;
    left:350px;
}

li {
    list-style:none;
}

#wordBars {
    position: absolute;
    height: 500px;
    width: 700px;
    left: 20px;
    top: 605px;
}
.tweetlist {
    position:relative;
    height: 105px;
}
.tweettext {
    position:absolute;
    top:22px;
    left:100px;
    height:auto;
    width: 500px;
}
#bulletChart {
    position:absolute;
    top: 997px;
    left:51px;
    width:650px;
    heigth:200px;
}
#description {
    position:absolute;
    top: 1080px;
    left:100px;
    width:1000px;
}
#description li {
    list-style:disc;
    height: 0.8em;
}
#queryString {
    visibility: hidden;
}
#count {
    position: absolute;
    left: 530px;
    top: 20px;
}