body {
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    padding-left: 30px;
    background: #CCC;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: steelblue;
}

#tweets {
    min-height: 200px;
    right: 10px;
    left: 30px;
    width: 520px;
}

.tweetlist {
    width: 500px;
    background: #DDD;
    font-weight: 400;
    font-size: 11px;
    padding: 10px 10px 0 10px;
    position: relative;
    height: auto;
    min-height: 40px;
}

#textField {
    width: 420px;
    position: relative;
    top: 5px;
    height: 30px
}

#searchBtn {
    position: relative;
    left: 4px;
    height: 32px;
}

#header {
    width: 500px;
    height: 36px;
    font-weight: bold;
    padding: 10px;
    background: #666;
}

.tweet {
    position: relative;
    height: auto;
    min-height: 70px;
}

.tweettext {
    position: absolute;
    top: 20px;
    left: 80px;
    height: auto;
    width: 400px;
}

.username {
    position:absolute;
    top: 0;
    left: 80px;
}

.username .name {
    font-weight: bold;
    font-size: 12px;
    top: 0;
    left: 80px;
}

.username .screen {
    font-size: 10px;
    color: #999;
}

.timeInterval {
    position: absolute;
    font-size: 10px;
    color:#999;
    text-align: right;
    top: 0;
    left: 380px;
}

.thumbnail {
    padding-top: 2px;
    width: 60px;
    height: 60px;
    max-width: 60px;
    max-height: 60px;
}