@(tweets: Seq[Tweet])(implicit request: RequestHeader)

@mainEmpty("Tweets!") {

  <meta name="apple-mobile-web-app-capable" content="yes">
  <!--suppress HtmlUnknownTag -->
  <script src="@routes.Assets.at("javascripts/vendor/d3.layout.cloud.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/vendor/nv.d3.min.js")" type="text/javascript"></script>

  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/dw.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bullet.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/nv.d3.css")">
 
  <div id="header"><h1>BirdWatch</h1></div>

  <div id="wordcloud"></div>

  <div id="wordBars"></div>

  <div id="tweets">
    <ul data-bind="foreach: tweets">
      <li><div class="tweetlist"><span><img data-bind="attr: { src: img_url }" /></span><div class="screen_name" data-bind="text: screen_name"></div>&nbsp;&nbsp;&nbsp;&nbsp;<div class="timeInterval" data-bind="text: timeAgo"></div><br /><div class="tweettext"><span data-bind="text: text"><br /></span></div></div></li>
    </ul>
  </div>
  
  <div id="bulletChart">
    <svg></svg>
  </div>
  
  <script src="@routes.Assets.at("javascripts/barchart.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/wordcloud.js")" type="text/javascript"></script>
  
  <script type="text/javascript">
  birdWatch = birdWatch || {};

   $(function() {
     var ws = new WebSocket("@routes.Twitter.tweetFeed().webSocketURL()");

     // Overall viewmodel for this screen, along with initial state
     var TweetsViewModel = function() { this.tweets = ko.observableArray(); };
     var viewModel = new TweetsViewModel();
     ko.applyBindings(viewModel);

     birdWatch.wordCountBarChart.init();
     birdWatch.wordCloud.init();
     
     var lastCloudUpdate = new Date().getTime() - 2000;
     var lastBarUpdate = new Date().getTime() - 2000;
     var lastWordsUpdate = new Date().getTime() - 2000;
     
     ws.onmessage = function(msg){
       var data = JSON.parse(msg.data);

       viewModel.tweets.unshift(data.tweetList[0]);
       if(viewModel.tweets().length > 9) { viewModel.tweets().pop(); }     // not working

       if ( (new Date().getTime() - lastBarUpdate) > 800) {
         birdWatch.wordCountBarChart.redraw(data.topWords);
         lastBarUpdate = new Date().getTime();
       }
       if ( (new Date().getTime() - lastCloudUpdate) > 5000) {
         birdWatch.wordCloud.redraw(data.topWords);
         lastCloudUpdate = new Date().getTime();
       }
       
       if ( (new Date().getTime() - lastWordsUpdate) > 1000) {
         var bulletData = {
           title: "Words / Tweet",
           subtitle: "M, SD",
           ranges: [data.wordCountMean-data.wordCountStdDev,data.wordCountMean+data.wordCountStdDev,25],
           measures: [data.wordCountMean],
           markers: [data.wordCountMean]
         };
         nv.addGraph(function() {
           bulletChart = nv.models.bulletChart();

           d3.select('#bulletChart svg')
            .datum(bulletData)
            .transition().duration(1000)
            .call(bulletChart);

           return bulletChart;
          });
       }
     }
   })
   </script>
  
}