@(tweets: Seq[Tweet])(implicit request: RequestHeader)

@mainEmpty("Tweets!") {
  <script src="@routes.Assets.at("javascripts/d3.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/d3.layout.cloud.js")" type="text/javascript"></script>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/dw.css")">
  
  <script type="text/javascript">
  $(function() {
    var ws = new WebSocket("@routes.Twitter.tweetFeed.webSocketURL()")

    // Overall viewmodel for this screen, along with initial state
    var TweetsViewModel = function() {
      this.tweets = ko.observableArray();
    }
    var viewModel = new TweetsViewModel()
    ko.applyBindings(viewModel);
    
    // d3 word cloud
    var fill = d3.scale.category20();
    var fontSize = d3.scale.log().range([10, 90]);
        
    var wordList = [{text: "", size: 60}, {text: "", size: 60}, {text: "", size: 60}, {text: "", size: 60}, {text: "", size: 60}, 
      {text: "", size: 60}, {text: "", size: 60}, {text: "", size: 60}, {text: "", size: 60}, {text: "", size: 60}, {text: "", size: 60}, 
      {text: "", size: 60}, {text: "", size: 60}, {text: "", size: 60}, {text: "", size: 60}, {text: "", size: 60}, {text: "", size: 60}, 
      {text: "", size: 60}, {text: "", size: 60}, {text: "", size: 60}, {text: "", size: 60}, {text: "", size: 60}, {text: "", size: 60}, 
      {text: "", size: 60}, {text: "", size: 60}, {text: "", size: 60}, {text: "", size: 60}, {text: "", size: 60}]
    
    var fScale;
    
    
    var layout = d3.layout.cloud()
          .size([1200, 800])
          .timeInterval(10)
          .text(function(d) { return d.text; })
          .font("Impact")
          .fontSize(function(d) { return fontSize(d.size/2); })
          .rotate(function(d) { return ~~(Math.random() * 5) * 30 - 60; })
          .padding(1)
          .words(wordList)
          .on("end", draw)
          .start();

    var svg = d3.select("#wordcloud").append("svg")
    
    function draw() {
      svg.attr("width", 1200)
          .attr("height", 800)
          .append("g")
          .attr("transform", "translate(150,150)")
          .selectAll("text")
          .data(wordList)
          .enter().append("text")
          .style("font-size", function(d) { return d.size / 2 + "px"; })
          .style("font-family", "Impact")
          .style("fill", function(d, i) { return fill(i); })
          .attr("text-anchor", "middle")
          .attr("transform", function(d) {
            return "translate(" + [d.x/3, d.y/3] + ")rotate(" + d.rotate + ")";
          })
          .text(function(d) { return d.text; });
    }
      
    function refresh() {
      svg.selectAll("text") 
          .data(wordList)
          .transition().duration(500)
  //        .attr("transform", "translate(150,150)")
          .style("font-size", function(d) { return fScale(d.size) + "px"; })
          //.style("font-family", "Impact")
          .style("fill", function(d, i) { return fill(i); })
          //.attr("text-anchor", "middle")
          .attr("transform", function(d) {
            return "translate(" + [50 + d.size/3, 60 + d.size/3] + ")rotate(" + d.rotate + ")";
          })          
          .text(function(d) { return d.text; });
    }
    
    console.log(layout)
    
    ws.onmessage = function(msg){
      //console.log(msg.data)
      var data = JSON.parse(msg.data)
      viewModel.tweets(data.tweetList)
      wordList = data.topWords
      
      fScale = d3.scale.linear().domain([0, d3.max(wordList, function(d) { return d.size; })]).range([10, 70])
            
      refresh()
      //svg.data(wordList)
      //layout.data(wordList).stop().start()
      
      //layout.words(wordList).stop().start()
      //console.log(wordList)
    }
  })
  </script>
  
  <div id="header"><h1>BirdWatch</h1></div>

  <div id="wordcloud"></div>

  <div id="tweets">
    <ul data-bind="foreach: tweets">
      <li><span class="screen_name" data-bind="text: screen_name"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="timeInterval" data-bind="text: timestamp"></span><br /><span data-bind="text: text"><br /></span></li>
    </ul>
  </div>
  
  @tweets.map { tweet =>
  <!--ul>
    <li><span>@tweet.screen_name</span>: @tweet.text - @tweet.created_at
  </ul-->
  } 

}