@(title: String)

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-glyphicons.css")">
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    
    <body ng-app="birdwatch">
        
        <div ng-controller="BirdWatchCtrl">

            <div class="navbar navbar-fixed-top">
                <div class="container">

                    <span class="navbar-brand">BirdWatch</span>
                    
                    <div class="navbar-form pull-left col-lg-6 input-group">
                        <form ng-submit="newSearch()" class="input-group">
                            <input type="text" class="form-control" ng-model="searchText" placeholder="Example search: java (job OR jobs OR hiring)">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" ng-click="newSearch()">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>

                        </form>
                    </div>

                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://matthiasnehlsen.com" target="_blank">Project Introduction</a></li>
                                <li><a href="http://matthiasnehlsen.com" target="_blank">Blog</a></li>
                                <li><a href="https://github.com/matthiasn" target="_blank">Project on GitHub</a></li>
                                <li><a href="#" ng-click="openMessageBox()">Legal stuff</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings  
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                
                                <li class="divider"></li>
                                <li class="dropdown-header">Dropdown header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>    
                    </ul>

                    <div class="navbar-text col-lg-2 pull-right">Tweet count: <a>
                        <span tooltip-placement="bottom" tooltip="Tweets currently loaded">{{tweets.length}}</span></a>
                    </div>
                    
                </div>
            </div>

            <div class="container container-fluid">
                <div class="row">
                    <pagination rotate="false" num-pages="noOfPages()" current-page="currentPage" max-size="maxSize"
                    boundary-links="true"></pagination>
                    <div>
                        Always stay on last page <input type="checkbox" ng-model="stayOnLastPage"/>                       
                    </div>

                </div>
                
                <div class="row">
                    <div class="col-lg-4" id="tweet-frame">
                        <div class="tweet" ng-repeat="tweet in tweetPage()">                      
                            <img class="thumbnail" src="{{tweet.user.profile_image_url}}">
                            <a tooltip-placement="bottom" tooltip="click to visit Twitter profile"
                            href="http://www.twitter.com/{{ tweet.user.screen_name }}" target="_blank">
                                <span class="username">{{tweet.user.name}}</span>
                            </a>
                            <span class="username_screen">&#64;{{tweet.user.screen_name}}</span>
                            <div class="pull-right timeInterval">{{tweet.created_at | fromNow}}</div>
                            <div class="tweettext" ng-bind-html-unsafe="tweet.htmlText"><br /></div>
                        </div>
                    </div>
                    
                    <div class="col-lg-8">
                        <div tooltip-placement="right" tooltip="click word to refine search" id="wordCloud"></div>
                        <div tooltip-placement="right" tooltip="click bar to refine search" id="wordBars"></div>  
                        
                    </div>
                    
                </div>
            </div>            
        </div>
        
        <!-- Placed at the end of the document so the pages load faster -->

        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("d3.min.js"))"></script>
        <script src='@routes.Assets.at("javascripts/vendor/d3.layout.cloud.js")' type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/vendor/moment.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/vendor/ui-bootstrap-tpls-0.4.0.js")"></script>
        <script src="@routes.Assets.at("javascripts/app.js")"></script>
        <script src="@routes.Assets.at("javascripts/services.js")"></script>
        <script src="@routes.Assets.at("javascripts/barchart.js")"></script>
        <script src="@routes.Assets.at("javascripts/wordcloud.js")"></script>
        <script src="@routes.Assets.at("javascripts/controllers.js")"></script>
        
        <!-- Analytics ================================================== -->
    </body>
</html>